# TODO: Update with exact module version
numpy==1.26.4
loguru
scikit-image
tqdm
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py

# verified versions
onnx
onnxruntime
onnx-simplifier
